In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Movie Dataset MapReduce").getOrCreate()

In [2]:
file_path = "TheMoviesDataset\movies_metadata.csv"
movies_df = spark.read.csv(file_path, header=True, inferSchema=True)

movies_df.show(5)

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\wangc\AppData\Local\Temp\ipykernel_12320\332470733.py:1: SyntaxWarning: invalid escape sequence '\m'
  file_path = "TheMoviesDataset\movies_metadata.csv"

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                NULL|           Toy Story|   False|                 7.7|             5415|
|False|                 NULL|65000000|[{'id': 12, 'name...|                NULL| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                NULL|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 NULL|16000000|[{'id': 35, 'name...|                NULL|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                NULL|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import from_json, col, explode
from pyspark.sql.types import ArrayType, StructType, StructField, StringType, IntegerType

genres_schema = ArrayType(StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
]))

# Parse the genres column
movies_df = movies_df.withColumn("genres_parsed", from_json(col("genres"), genres_schema))

# Show the parsed genres
movies_df.select("genres", "genres_parsed").show(5, truncate=False)

+-------------------------------------------------------------------------------------------------+-------------------------------------------------+
|genres                                                                                           |genres_parsed                                    |
+-------------------------------------------------------------------------------------------------+-------------------------------------------------+
|[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}] |[{16, Animation}, {35, Comedy}, {10751, Family}] |
|[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]|[{12, Adventure}, {14, Fantasy}, {10751, Family}]|
|[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]                                 |[{10749, Romance}, {35, Comedy}]                 |
|[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]    |[{35, Comedy}, {18, Drama}, {10749, Romance}]    |
|[{'id': 35, 'name': 'Comedy'}]                                                                   |[{35, Comedy}]                                   |
+-------------------------------------------------------------------------------------------------+-------------------------------------------------+
only showing top 5 rows

In [4]:
# Explode the genres_parsed column to get one row per genre
movies_genres = movies_df.select(explode(col("genres_parsed.name")).alias("genre"))

# Show the exploded genres
movies_genres.show(10, truncate=False)

+---------+
|genre    |
+---------+
|Animation|
|Comedy   |
|Family   |
|Adventure|
|Fantasy  |
|Family   |
|Romance  |
|Comedy   |
|Comedy   |
|Drama    |
+---------+
only showing top 10 rows

In [5]:
# Count movies per genre
genre_counts = movies_genres.groupBy("genre").count()

# Show the results
genre_counts.show(truncate=False)

+---------------+-----+
|genre          |count|
+---------------+-----+
|Crime          |4294 |
|Romance        |6722 |
|TV Movie       |764  |
|Thriller       |7612 |
|Adventure      |3477 |
|Foreign        |1620 |
|Drama          |20239|
|War            |1321 |
|Documentary    |3929 |
|Family         |2747 |
|Fantasy        |2308 |
|History        |1396 |
|Mystery        |2466 |
|Animation      |1922 |
|Music          |1591 |
|Science Fiction|3041 |
|Horror         |4656 |
|Western        |1040 |
|Comedy         |13123|
|Action         |6581 |
+---------------+-----+
only showing top 20 rows